In [1]:
import numpy
import pandas as pd
import statsmodels.formula.api as smf # for anova
import statsmodels.stats.multicomp as multi

In [10]:
# read the data
data = pd.read_csv("addhealth.csv", low_memory=False)

The National Longitudinal Study of Adolescent Health (AddHealth) is a representative school-based survey of adolescents in grades 7-12 in the United States. The Wave 1 survey focuses on factors that may influence adolescents’ health and risk behaviors, including personal traits, families, friendships, romantic relationships, peer groups, schools, neighborhoods, and communities. Check out the AddHealth Code Book Index to see a list of the topics addressed in each codebook section.

**Response variable**: Number of alcohols drunk in a day (H1TO16) - range 1-90

**Explanatory variables**:
1. Whether or not a student has been expelled (H1ED9) - value {0,1}
2. Religion (H1RE1) - value in range 1-27, we skip "other religion" (#28)

In [27]:
# Question1: whether or not a student has been expelled correlated 
#            with alcohol quantity among students in grades 7-12

# subset data frame with our variable of interest
sub1 = data[["H1TO16", "H1ED9"]] \
    .rename(columns={"H1TO16": "num_alcohol", "H1ED9": "expelled"}) \
    .apply(pd.to_numeric, errors='coerce') \
    .dropna() \
    .astype(int)

sub1 = sub1[(sub1["num_alcohol"] >= 1) & (sub1["num_alcohol"] <= 90) & \
            ((sub1["expelled"] == 0) | (sub1["expelled"] == 1))]

sub1

      num_alcohol  expelled
0               5         0
1              10         0
4               1         0
7               3         0
18             12         0
...           ...       ...
6482            1         0
6484            4         0
6492            2         0
6501            5         0
6503            5         0

[2909 rows x 2 columns]

In [28]:
model1 = smf.ols(formula='num_alcohol ~ C(expelled)', data=sub1)
results1 = model1.fit()
results1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            num_alcohol   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     10.35
Date:                Mon, 06 Feb 2023   Prob (F-statistic):            0.00131
Time:                        13:54:30   Log-Likelihood:                -9841.1
No. Observations:                2909   AIC:                         1.969e+04
Df Residuals:                    2907   BIC:                         1.970e+04
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            5.3226      0.136     39.095      0.000       5.056       5.590
C(expelled)[T.1]     1.8340      0.570      3.218      0.001       0.716       2.951
==============================================================================
Omnibus:                     3101.144   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           238795.153
Skew:                           5.301   Prob(JB):                         0.00
Kurtosis:                      46.101   Cond. No.                         4.33
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Conclusion:
whether or not a student has been expelled is correlated with alcohol quantity among students in grades 7-1, i.e., we reject null hypothesis

In [41]:
# Question2: do religions correlated with alcohol quantity among students in grades 7-12?

# subset data frame with our variable of interest
sub2 = data[["H1TO16", "H1RE1"]] \
    .rename(columns={"H1TO16": "num_alcohol", "H1RE1": "religion"}) \
    .apply(pd.to_numeric, errors='coerce') \
    .dropna() \
    .astype(int)

sub2 = sub2[(sub2["num_alcohol"] >= 1) & (sub2["num_alcohol"] <= 90) & \
            (sub2["religion"] >= 1) & (sub2["religion"] <= 27)]

sub2

      num_alcohol  religion
4               1         5
7               3        22
19              2        13
20              4        12
21              1        22
...           ...       ...
6477            3         4
6478            2         4
6482            1        11
6484            4        19
6492            2         5

[2393 rows x 2 columns]

In [46]:
model2 = smf.ols(formula='num_alcohol ~ C(religion)', data=sub2).fit()
print (model2.summary())

print ('means for num_alcohol by major religion')
m2= sub2.groupby('religion').mean()
print (m2)

print ('standard deviations for num_alcohol by major religion')
sd2 = sub2.groupby('religion').std()
print (sd2)

                            OLS Regression Results
==============================================================================
Dep. Variable:            num_alcohol   R-squared:                       0.014
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.367
Date:                Mon, 06 Feb 2023   Prob (F-statistic):              0.106
Time:                        14:12:00   Log-Likelihood:                -8131.7
No. Observations:                2393   AIC:                         1.632e+04
Df Residuals:                    2367   BIC:                         1.647e+04
Df Model:                          25
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             4.0000      2.194      1.823      0.068      -0.302       8.302
C(religion)[T.2]      0.4286      2.932      0.146      0.884      -5.320       6.178
C(religion)[T.3]      0.4583      2.649      0.173      0.863      -4.737       5.654
C(religion)[T.4]      1.3397      2.213      0.605      0.545      -3.000       5.679
C(religion)[T.5]      1.5000      2.246      0.668      0.504      -2.904       5.904
C(religion)[T.6]      6.5000      4.248      1.530      0.126      -1.831      14.831
C(religion)[T.7]      2.2000      2.888      0.762      0.446      -3.464       7.864
C(religion)[T.8]      0.2766      2.437      0.113      0.910      -4.503       5.056
C(religion)[T.9]      6.3333      4.739      1.336      0.182      -2.960      15.627
C(religion)[T.10]    -1.5625      2.850     -0.548      0.584      -7.151       4.026
C(religion)[T.11]    -0.4815      2.603     -0.185      0.853      -5.585       4.622
C(religion)[T.12]    -0.0833      2.649     -0.031      0.975      -5.279       5.112
C(religion)[T.13]     0.5088      2.297      0.221      0.825      -3.996       5.014
C(religion)[T.14]     1.2727      2.271      0.560      0.575      -3.180       5.726
C(religion)[T.15]    26.0000      7.600      3.421      0.001      11.097      40.903
C(religion)[T.16]     3.1571      2.360      1.338      0.181      -1.471       7.785
C(religion)[T.17]     0.5857      2.360      0.248      0.804      -4.042       5.214
C(religion)[T.18]     1.6667      3.270      0.510      0.610      -4.747       8.080
C(religion)[T.19]     1.4022      2.321      0.604      0.546      -3.150       5.954
C(religion)[T.20]    -1.0000      7.600     -0.132      0.895     -15.903      13.903
C(religion)[T.21]    -0.8182      3.103     -0.264      0.792      -6.902       5.266
C(religion)[T.22]     1.8124      2.209      0.820      0.412      -2.520       6.145
C(religion)[T.23]  1.406e-13      3.103   4.53e-14      1.000      -6.084       6.084
C(religion)[T.25]     0.2222      3.270      0.068      0.946      -6.191       6.636
C(religion)[T.26]     0.5667      2.565      0.221      0.825      -4.463       5.596
C(religion)[T.27]  1.522e-13      4.739   3.21e-14      1.000      -9.294       9.294
==============================================================================
Omnibus:                     2583.714   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           204558.466
Skew:                           5.379   Prob(JB):                         0.00
Kurtosis:                      46.998   Cond. No.                         85.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
means for num_alcohol by major religion
          num_alcohol
religion
1            4.000000
2            4.428571
3            4.458333
4            5.339683
5            5.500000
6           10.500000
7            6.200000
8            4.276596
9           10.333333
10           2.437500
11           3.518519
12           3.916667
13           4.508772
14           5.272727
15          30.000000
16           7.157143
17           4.585714
18           5.666667
19           5.402174
20           3.000000
21           3.181818
22           5.812419
23           4.000000
25           4.222222
26           4.566667
27           4.000000
standard deviations for num_alcohol by major religion
          num_alcohol
religion
1            3.820995
2            6.722114
3            4.353701
4            7.765984
5            7.625944
6           13.076697
7            3.233751
8            3.904858
9            7.767453
10           1.965324
11           3.154610
12           2.811725
13           4.062010
14           5.228470
15                NaN
16          10.354073
17           6.247302
18           4.949747
19           5.152743
20                NaN
21           2.272364
22           8.168069
23           3.872983
25           3.597839
26           3.430928
27           3.000000

In [87]:
mc1 = multi.MultiComparison(sub2['num_alcohol'], sub2['religion'])
res1 = mc1.tukeyhsd()
res1df = pd.read_html(res1.summary().as_html(), header=0, index_col=0)[0].reset_index()
# Show 10 combinations with the smallest p-values
res1df.sort_values("p-adj").nsmallest(10,"p-adj")

     group1  group2  meandiff   p-adj    lower    upper  reject
193      10      15   27.5625  0.0513  -0.0548  55.1798   False
208      11      15   26.4815  0.0718  -0.8029  53.7659   False
264      15      21  -26.8182  0.0827 -54.8023   1.1659   False
222      12      15   26.0833  0.0869  -1.2619  53.4286   False
160       8      15   25.7234  0.0894  -1.3529  52.7997   False
235      13      15   25.4912  0.0924  -1.4188  52.4012   False
260      15      17  -25.4143  0.0984 -52.3977   1.5692   False
60        3      15   25.5417  0.1075  -1.8036  52.8869   False
268      15      26  -25.4333  0.1078 -52.6690   1.8023   False
266      15      23  -26.0000  0.1137 -53.9841   1.9841   False

### Conclusion:
religions are not correlated with alcohol quantity among students in grades 7-1, i.e., we DON'T reject null hypothesis